Makefile
Makefile.in
configure
install-sh
missing
compile
aclocal.m4
config.log
config.status
config.guess
config.sub
depcomp
autom4te.cache
libtool
ltmain.sh
.dirstamp
.deps
.sconsign*
src/*.lo
src/*.o
examples/*.o
tests/*.o
tests/check_parser
*.la
*.a
*.tar.gz
*.zip
*.pc
docs/html
TAGS
examples/basic
examples/active
examples/roster
examples/bot
test_stamp
tests/*.o
tests/test_base64
tests/test_ctx
tests/test_hash
tests/test_jid
tests/test_sasl
tests/test_sock
.libs/
examples/.libs/
src/.libs/
